{% assign groups = site.data.eligibility %}
{% for group in groups %}
  <div class="eligibility-group checkbox-group"><strong>{{ group.id }}</strong>:<br/>
    {% for value in group.values %}
      {% assign tag = group.tag | append: " " | append: value | slugify %}
      <label class="checkbox">
      {{ value | replace: " ", "&nbsp;"}}:&nbsp;
      <input type="checkbox" id="{{ tag }}" class="eligibilityCheckbox" name="{{ value | slugify }}"/>
    </label>
    {% endfor %}
  </div>
{% endfor %}
