<div class="checkbox-group">
{% comment %} Sort program labels {% endcomment %}

{% capture programlabels %}
  {%- for program in site.data.programs -%}
    {{- program.label | strip | append: "|" -}}
  {%- endfor -%}
{% endcapture %}
{% assign programs = programlabels | split: "|" | sort %}

{% comment %} Display program labels with checkboxes {% endcomment %}

{% for program in programs %}
  {% assign programtag = program | prepend: 'program ' | slugify %}
  <label class="checkbox">
    {{ program | replace: " ", "&nbsp;"}}:&nbsp;
    <input type="checkbox" id="{{ programtag }}" class="programCheckbox">
  </label>
{% endfor %}
</div>
