{% assign id = "resource " | append: include.resource['Organization Name'] | append: " " | append: include.resource['Program name'] | slugify %}
<div id="{{ id }}" class="resource {{ include.classes | join: ' ' }}" style="border:  1px solid black; margin: 1em; padding: 1em;">
  <h2>{{ include.resource["Program name"] }} ({{ include.resource['Organization Name'] }})</h2>
  <ul class="fields">
    <li><span>Timestamp</span>: {{ include.resource["Timestamp"] }}</li>
    <li><span>Organization Name</span>: {{ include.resource["Organization Name"] }}</li>
    <li><span>Today's date</span>: {{ include.resource["Today's date"] }}</li>
    <li><span>Program name</span>: {{ include.resource["Program name"] }}</li>
    <li><span>Short program description</span>: {{ include.resource["Short program description"] }}</li>
    <li><span>Type of program</span>: {{ include.resource["Type of program"] }}</li>
    <li><span>Contact name</span>: {{ include.resource["Contact name"] }}</li>

    <li><span>Phone number</span>: 
    {% if include.resource["Phone number"] != 'n/a' %}
    <a href="tel:{{ include.resource["Phone number"] | url_encode }}">{{ include.resource["Phone number"] }}</a> (click to dial)
    {% else %}
    {{ include.resource["Phone number"] }}
    {% endif %}
    </li>

    <li>
    <span>Contact email</span>: 
    {% if include.resource["Contact email"] != 'n/a' %}
    <a href="email:+{{ include.resource["Contact email"] | url_encode }}">{{ include.resource["Contact email"] }}</a> (click to send email)
    {% else %}
    {{ include.resource["Contact email"] }}
    {% endif %}
    </li>

    <li><span>Address</span>: 
    {% if include.resource["Address"] != 'n/a' %}
    {% capture googleUrl %}https://www.google.com/maps/search/?api=1&query={{ include.resource["Address"] | prepend: ", " | prepend: include.resource["Organization Name"] | url_encode }}{% endcapture %}
    <a href="{{ googleUrl }}">{{ include.resource["Address"] }}</a> (click for Google Map)
    {% else %}
    {{ include.resource["Address"] }}
    {% endif %}
    </li>

    <li><span>Eligible Clients</span>: {{ include.resource["Eligible Clients"] }}</li>
    <li><span>Details of support</span>: {{ include.resource["Details of support"] | newline_to_br }}</li>
    <li><span>Application process</span>: {{ include.resource["Application process"] | newline_to_br }}</li>
    <li><span>Exclusions</span>: {{ include.resource["Exclusions"] }}</li>
    <li><span>Identification documents needed</span>: {{ include.resource["Identification documents needed"] }}</li>
    <li><span>Current waitlist</span>: {{ include.resource["Current waitlist"] }}</li>
    <li><span>Current COVID restrictions</span>: {{ include.resource["Current COVID restrictions"] }}</li>
    <li><span>Eligible genders</span>: {{ include.resource["Eligible genders"] }}</li>
    <li><span>Parent eligibility</span>: {{ include.resource["Parent eligibility"] }}</li>
    <li><span>Program cost</span>: {{ include.resource["Program cost"] }}</li>
    <li><span>Cost in dollars</span>: {{ include.resource["Cost in dollars"] }}</li>
    <li><span>Additional notes</span>: {{ include.resource["Additional notes"] | newline_to_br }}</li>
  </ul>

 </div>
