---
---

@import "{{ site.theme }}";

#countBox {
  border: 1px solid black; 
  padding: 1em; 
  margin: 1em; 
  text-align: 
  center; 
  font-weight: bold;
}

.fields li span { font-weight: bold; }
label.checkbox { 
  padding:5px;
  margin: 5px 2em 0 0;
  background: #ddd;
  display: inline-block;
  white-space: nowrap;
}
.eligibility-group { margin-top: 1em; }
.checkbox-group {
  text-align: center;
  border: 1px solid #ddd;
}