---
---

@import "{{ site.theme }}";

#countBox {
  border: 1px solid black; 
  padding: 1em; 
  margin: 1em; 
  text-align: 
  center; 
  font-weight: bold;
}

.fields li span { font-weight: bold; }
span.checkbox { padding-right: 2em; }
.eligibility-group { margin-top: 1em; }
